<%= form_for(@fix) do |f| %>
  <% if @fix.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fix.errors.count, "error") %> prohibited this fix from being saved:</h2>

      <ul>
      <% @fix.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :exception_message %><br />
    <%= f.text_field :exception_message %>
  </div>
  <div class="field">
    <%= f.label :backtrace %><br />
    <%= f.text_area :backtrace %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
