<h1>Listing fixes</h1>

<table>
  <tr>
    <th>Exception message</th>
    <th>Backtrace</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fixes.each do |fix| %>
  <tr>
    <td><%= fix.exception_message %></td>
    <td><%= fix.backtrace %></td>
    <td><%= link_to 'Show', fix %></td>
    <td><%= link_to 'Edit', edit_fix_path(fix) %></td>
    <td><%= link_to 'Destroy', fix, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fix', new_fix_path %>
